body{
    background-color: #495D63;
}

.IndividualPlant{
    width: 20rem;
}
.IndividualPlant:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}
.IndividualPlant-text{
    width:100%;
}
.IndividualPlant-body{
    padding: 3rem 0 !important;
}
.container-fluid.row{
    padding-top:6rem;
}