

.IndividualPlant{
   
    margin-top: 10px;
  width:100%;
  
    
}
.IndividualPlant:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
    
}
.IndividualPlant-text{
    width:100%;
}

.container-fluid{
    padding-top:3rem;
    padding-bottom:3rem;
   
}

.col-md-4{
    padding-top: 1rem;
}
.editAdd{
    width: 100%;
}
 .buttons{
    z-index: 9;
    position: relative;
    
    
 }
 .button-trash{
    position: absolute;
    bottom:10px;
    left: 10px;

 }
 .button-edit{
    position: absolute;
    bottom:10px;
    right: 10px;
 }

 #addModal{
    width: 100%;
    
   
 }
 .plantImage{
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:90%;
    max-height:100%;
 }
 .plantImageContainer{
    width:360px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
 }
 .bottomOfCard{
   margin-bottom: 20px;
 }

 